services:
services:
  jenkins:
    build: .
    container_name: jenkins
    user: root
    ports:
      - "9091:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

  tests:
    image: eclipse-temurin:17-jdk
    working_dir: /work
    volumes:
      - .:/work
    command: >
      sh -lc "
        mkdir -p bin results &&
        javac -classpath 'lib/*' -d bin src/Rest/*.java src/soap/*.java && javac -classpath 'lib/*' -d bin src/Rest/*.java src/rest/*.java &&
        java -cp 'bin:lib/*' org.testng.TestNG testng.xml
      "

volumes:
  jenkins_home: